<<<<<<< HEAD
footer{
    Background-color:#00FF00;
    height:60px;
    width:100%;
    position: absolute;
    bottom:0;
    text-align:center;
    line-height:60px
=======
footer {
  background-color: #00ff00;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer p {
  text-align: center;
>>>>>>> bd9b46a10eaf11ffadabb4aefe61afbc6f5fcd53
}
