body {
<<<<<<< HEAD
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
=======
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
>>>>>>> bd9b46a10eaf11ffadabb4aefe61afbc6f5fcd53
}
