footer {
<<<<<<< HEAD
	background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 0;
=======
  background-color: white;
  height: 60px;
  width: 100%;
  border-top: 1px solid #cccccc;
  position: absolute;
  bottom: 0;
}
footer p {
  text-align: center;
>>>>>>> bd9b46a10eaf11ffadabb4aefe61afbc6f5fcd53
}
